body{
    font-size: 19px;
    /* color: #37b337; */
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    text-indent: 20px;
}

tr{
    border: 1px solid  #cbcbcb;
}

th, td{
    border: 1px solid #cbcbcb;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #f5f5f5;
}

form {
    width: 45%;
    margin: 50px auto;
    border: 1px solid #bbbbbb;
    padding: 20px;
    color: #000;
    text-align: left; 
}

.input-group{
    margin: 10px 10px 10px 10px;
}

.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #9d17b8;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #3a07b3;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #b40707d3;
}
